.container {
	text-align: center;
	.itemsContainer {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.itemContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 80%;
			margin: 0 auto;
			img {
				width: 150px;
				height: 150px;
			}
		}
	}
}
.cartPrice {
	margin-bottom: 30px;
}
