.root {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.productContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 80%;
	margin: 0 auto;
}
.btnSwitcherContainer {
	width: fit-content;
	align-self: flex-end;
	padding: 5px;
	margin-right: 20px;
	border: 1px solid #000;
	border-radius: 5px;

	.btnSwitcher {
		width: 30px;
		height: 30px;

	}
}
