.root {
	display: flex;
	justify-content: center;
	align-items: center;
	& label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 200px;
		& .inputName {
			position: absolute;
			top: -10px;
			left: 10px;
			background-color: white;
			color: rgb(133, 137, 154);
			padding: 0 5px;
		}
		& .error {
			position: absolute;
			top: -15px;
			right: -20%;
			color: red;
			background-color: white;
			width: 130px;
			padding: 5px;
			height: 30px;
			overflow: scroll;
			border: 1px solid red;
			border-radius: 5px;
		}
	}
	& .input {
		width: 100%;
		padding: 10px;
		margin-bottom: 25px;
		outline: none;
		&:focus {
			border: 3px solid rgb(214, 222, 252);
		}
	}
}
