.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	margin: 0 auto;
	h2 {
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	img {
		width: 400px;
		height: 500px;
		margin-bottom: 20px;
	}
	.price {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.description {
		font-size: 20px;
		width: 80%;
		text-align: center;


	}
}
