.header {
	position: relative;
	width: 100%;
	background-color: rgb(72, 64, 189);
	margin-bottom: 30px;
	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 70%;
		margin: 0 auto;
		padding: 20px 0;
		color: #fff;
	}
	.cartItemsContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		position: absolute;
		top: 100%;

		right: 0;
		width: 350px;
		min-height: 150px;
		background-color: rgba(57, 44, 241, 0.805);
		border: 2px solid red;
	}
	.emptyCart {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 24px;
		font-weight: 700;
		color: #fff;
	}
	.navList {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 50%;
		list-style: none;
		gap: 20px;
		li > a {
			color: white;
			text-decoration: none;
			font-size: 20px;
		}
	}
}
