.cartContainer,
.favoriteContainer {
	display: flex;
	.cartCount,
	.favoriteCount {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}
.headerIconcContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
