.itemConainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3px;
	width: 15%;
	height: 400px;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	@media screen and (max-width: 1280px) {
		width: 20%;
	}
	@media screen and (max-width: 1024px) {
		width: 30%;
	}
	@media screen and (max-width: 768px) {
		width: 45%;
	}
	@media screen and (max-width: 480px) {
		width: 90%;
	}

	img {
		width: 90%;
		height: 240px;
	}
	button {
		width: 90%;
		margin: 10px 0;
		padding: 5px;
		font-size: 18px;
	}
	.skuContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		color: #ccc;
	}
}
