.root {
	width: 50%;
	margin: 0 auto;
	padding: 30px;
	border: 2px solid rgb(214, 222, 252);
	border-radius: 10px;
	& .btn {
		padding: 10px 20px;
		background-color: rgb(214, 222, 252);
		transition: all 0.3s ease-in-out;
		border: 1px solid rgb(164, 178, 240);
		font-weight: 700;
		color: rgb(132, 131, 131);

		&:hover {
			background-color: rgb(164, 178, 240);
			border: 1px solid rgb(214, 222, 252);
			color: rgb(232, 226, 226);

		}
	}
}
