.cartItem{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	img{
		width: 50px;
		height: 50px;
	}
	p{
		color: #fff;
		font-weight: 700;
		font-size: 18px;
	}

}