.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.354);
	z-index: 100;

	.modalContent {
		width: 500px;

		.modalHeader {
			display: flex;
			justify-content: space-around;
			align-items: center;

			button {
				background-color: transparent;
				border: none;
				font-size: 32px;
			}
		}
		.modalMain {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 16px;

			p {
				width: 85%;
				margin: 30px auto;
				font-weight: 700;
			}
			.modalBtns {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 35%;
				margin: 0 auto;

				margin-bottom: 20px;
			}
		}
	}
}
